body {
	background-image: url('../../Images/you_lost.jpg');
	background-size: cover;
	text-align: center;
}

h1 {
	color: red;
	background-color: yellow;
}

button {
	top: 30px;
	font-size: 30px;
	cursor: pointer;
}

button:hover {
	background-color: yellow;
	transition: 0.5s;
}
