/* CSS for minesweeper game */
@font-face {
	font-family: ARCADE;
	src: url('../Fonts/arcadeclassic/ARCADECLASSIC.ttf');
	
}
		
@font-face {
	font-family: Frosty;
	src: url('../Fonts/frosty/FROSTY_.TTF');
}
	
@media only screen and (max-width: 375px){

#board{
	width:30%;
}
}



body {
	text-align: center;
	/* background-color: #7FDAFF; */
	background-image: url('../Images/christmas_background.jpg');
	background-repeat: repeat-y;
	background-size: cover;
}


/* Header*/
#header {
	top: 5px;
	width: 50%;
	height: 70px;
	border: 3px solid #F9F9F9;
	background-color: #BDE6FF;
}

#gear_pic {
	height: 35px;
	width: 35px;
	cursor: pointer;
	background-color: lighte-gray;
}

#setting_link:target {
	transition: 0.5s;
}

#clock {
	color: red;
	font-family: ARCADE;
	font-size: 30px;
	border: 4px double gray;
	background-color: black;
}

#reset {
	cursor: pointer;
	border-radius: 7px;
	height: 35px;
	width: 35px;
}

/* board */

#board{
	border: 3px solid #F9F9F9;
	display: inline;
	position: absolute;
	width: 50%;
	top: 75px;
	left: 50%;
	text-align: center;
	cursor: pointer;
	opacity: 0.6;
	background-color: #D6EAFF;
	transition: 0.8s;
	transform: translate(-50%);
}

#board:hover {
	opacity: 1;
	transition: 0.8s;
}

h1 {
	font-family: Frosty;
	font-size: 50px;
	color: #87C7FF;
}

h2 {
	font-family: Frosty;
	font-size: 30px;
	color: #87C7FF;
}

.board_cell {
	font-family: ARCADE;
	display: inline-block;
} 

.mine {
	background-image: url('../Images/bomb.jpg');
	background-size: cover;
	display: inline-block;
	background-color: white;	
}

.gift_buttons {
	background-image: url('../Images/gift.png');
	background-repeat: no-repeat;
	background-size: cover;
}

img { /* for flags */
	width: 30px;
	height: 30px;
}

/* settings board*/
button {
	cursor: pointer;
	height: 40px;
}

#setting_area {
	top: 1300px;
	position: absolute;
	width: 40%;
	height: 600px;
	background-color: #D6EAFF;
	background-image: url('../Images/snowman.jpg');
	background-repeat: no-repeat;
	background-size: 100% 600px;
	transition: 0.5s;
	margin-bottom: 30px;
}

#setting_heading {
	color: #2C567F;
	font-family: Frosty;
}

#setting_table {
	position: absolute;
	top: 80px;
	width: 60%;
	text-align: left;
}


.selected_button {
	background-color: #92DCE5;
}

#confirm {
	cursor: pointer;
	border-radius: 6px;
	transition: 0.5;
	position: absolute;
	top: 63%;
}

#music_option {
	height: 40px;
}