/* board */
.board {
	border: 3px solid #F9F9F9;
	position: absolute;
	top: 75px;
	left: 50%;
	min-width: 40%;
	text-align: center;
	cursor: pointer;
	opacity: 0.6;
	background-color: #D6EAFF;
	transform: translate(-50%);
}


.board:hover {
	opacity: 1;
	transition: opacity 0.8s;
}


h1 {
	font-family: Frosty;
	font-size: 50px;
	color: #87C7FF;
}


h2 {
	font-family: Frosty;
	font-size: 30px;
	color: #87C7FF;
}

.row {
	line-height: 1.2;
}

.revealed_btn {
	font-family: ARCADE;
	border: 1px solid grey;
	background-color: #DDDDDD;
	vertical-align: text-bottom;
}

.mine,
.this_mine,
.gift_btn,
.flag {
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid grey;
}


.mine,
.this_mine {
	background-image: url('../../Images/mine.png');
	background-color: #DDDDDD;
}


.this_mine {
	background-color: red;
}


.gift_btn {
	background-image: url('../../Images/gift.png');
	background-color: white;
}


.flag {
	background-image: url('../../Images/flag.png');
	background-color: white;
}

/* Button number coloring */
.btn_num1 {
	color: #0033cc;
}

.btn_num2 {
	color: #006600;
}

.btn_num3 {
	color: #ff0000;
}

.btn_num4 {
	color: #EC4067;
}

.btn_num5 {
	color: #993333;
}

.btn_num6 {
	color: #ffcc66;
}

.btn_num7 {
	color: #000066;
}

.btn_num8 {
	color: #ff00ff;
}