/* board */

#board {
	border: 3px solid #F9F9F9;
	position: absolute;
	width: 40%;
	top: 75px;
	left: 50%;
	text-align: center;
	cursor: pointer;
	opacity: 0.6;
	background-color: #D6EAFF;
	transition: 0.8s;
	transform: translate(-50%);
	display: grid;
	justify-content: center;
}


#board:hover {
	opacity: 1;
	transition: 0.8s;
}


h1 {
	font-family: Frosty;
	font-size: 50px;
	color: #87C7FF;
}


h2 {
	font-family: Frosty;
	font-size: 30px;
	color: #87C7FF;
}


.revealed_btn {
	font-family: ARCADE;
	border: 1px solid grey;
	position: absolute;
	background-color: #DDDDDD;
}

.mine,
.this_mine,
.gift_btn,
.flag {
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	border: 1px solid grey;
}


.mine,
.this_mine {
	background-image: url('../../Images/mine.png');
	background-color: #DDDDDD;
}


.this_mine {
	background-color: red;
}


.gift_btn {
	background-image: url('../../Images/gift.png');
	background-color: white;
}


.flag {
	background-image: url('../../Images/flag.png');
	background-color: white;
}

/* Button number coloring */
.btn_num1 {
	color: #0033cc;
}

.btn_num2 {
	color: #006600;
}

.btn_num3 {
	color: #ff0000;
}

.btn_num4 {
	color: #EC4067;
}

.btn_num5 {
	color: #993333;
}

.btn_num6 {
	color: #ffcc66;
}

.btn_num7 {
	color: #000066;
}

.btn_num8 {
	color: #ff00ff;
}