/* CSS for minesweeper game */
@font-face {
	font-family: ARCADE;
	src: url('../Fonts/arcadeclassic/ARCADECLASSIC.ttf');
}
		
body {
	text-align: center;
}


/* Header*/
#header {
	border: 2px solid black;
	position: fixed;
	width: 450px;
	height: 60px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

#gear_pic {
	height: 45px;
	width: 45px;
	position: fixed;
	display: inline;
	left: 15px;
	margin-top: 5px;
	cursor: pointer;
	border: 2px solid black;
	background-color: lighte-gray;
}


#clock {
	display: inline;
	color: red;
	font-family: ARCADE;
	font-size: 50px;
	border: 4px double gray;
	bottom: 5px;
	background-color: black;
}

#reset {
	position: fixed;
	display: inline;
	bottom: 20px;
	left: 375px;
	cursor: pointer;
	border-radius: 7px;

}

/* board */
#board{
	border: 2px solid black;
	display: inline;
	position: absolute;
	width: 450px;
	top: 80px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

button {
	position: relative;
	left: 0;
}

img { /* for flags */
	width: 30px;
	height: 30px;
}